/*** Gains page styles ***/

div.gains_page {
   display: flex;
   flex-flow: column;
   height: 100%;

   & > header {
      display: flex;
      padding: .5rem 1rem;

      & > h2 {

      }
   }

   & > hr.divider {
      width: 90%;
   }

   & > div.gains_tiles_container {
      display: grid;
      grid-template: auto / repeat(auto-fit, minmax(200px, 1fr));
      gap: 1rem;
      flex: 1;
      padding: .5rem;
   }
}

div.past_workout_tile {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: .5rem;
   max-height: 300px;
   border: 1px solid #7a7a7a;
   border-radius: 3px;
   cursor: pointer;
   transition: box-shadow .25s;

   &:hover {
      box-shadow: 0 0 4px 1px #00000036;
   }

   > section {
      flex: 1;
      padding: .5rem;
      width: 100%;
      border: 1px solid rgb(214, 214, 228);
   }
}  