div.test_container {
   display: flex;
   flex-flow: column nowrap;
   height: 100%;

   & > header {
      padding: .5rem;
      text-align: center;
   }

   & section.component_section {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      padding: 1rem;

      & > * {
         margin: .5rem .75rem;
      }
   }
}